---
import "../styles/global.css";

interface Props {
  name?: string;
  link: string;
  src?: string;
  imgStyle: string;
}

const { name, link, src, imgStyle } = Astro.props as Props;
---

<a href=`${link}` target="_blank" rel="noopener noreferrer">
  <button
    class="w-8 h-8 flex items-center justify-center overflow-hidden rounded-3xl text-white cursor-pointer"
  >
    {
      name ? (
        <img
          class={imgStyle}
          src={`https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${name}/${name}-original.svg`}
          alt={name}
        />
      ) : (
        <img src={src} alt={src} class={imgStyle} />
      )
    }
  </button>
</a>
